/* webshop stylesheet */
.menu {
	padding: 5px 0 5px 0;
	text-align: center;
	line-height: 32px;
	background-color: blue;
}

ul.menu {
	margin-top: 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.menu li {
    display: inline;
    padding: 0 20px 0 20px;
}