form {
	display: table;
}
p {
	display: table-row;
}
label {
	display: table-cell;
}
input {
	display: table-cell;
	min-width: 200px;
}
#correct {
    color: red;
}

input[type="submit"] {
	display:table-cell;
	width:100%;
}